<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lihat Mahasiswa</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
  
</head>

<body>	
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
       	<h5 th:text="'NPM = ' + ${student.npm}">Student NPM</h5>
       	<h5 th:text="'Nama = ' + ${student.name}">Student Name</h5>
       	<h5 th:text="'GPA = ' + ${student.gpa}">Student GPA</h5><br></br>
       	<h5> Kuliah yang diambil </h5>
		<ul th:each = "course,iterationStatus: ${student.courses}">
			<li th:text = "${course.name} + '-' + ${course.credits} + ' sks'" >
			Nama kuliah - X SKS
			</li>
		</ul>
	</div>
</body>
</html>

